


* {
	box-sizing: border-box;
}
#app {
	border: 2px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
	background: #ccc;
}
.cell {
	float: left;
	border: 2px solid #ccc;
	border-radius: 4px;
	width: 40px;
	height: 40px;
	line-height: 36px;
	font-size: 14px;
	text-align: center;
	background: #fff;
}
.msg {
	line-height: 30px;
	font-size: 20px;
	text-align: center;
}
.button {
	display: inline-block;
	margin: 10px 0;
	padding: 5px 10px;
	vertical-align: top;
	text-decoration: none;
	color: #fff;
	background: #333;
}